@import "../../style/all.css";

.main {
  display: block;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  background-color: #999999;
}

header {
  width: 325px;
  height: 45px;
  margin: auto 12.5px;

  p {
    font-family: "NanumSquareRoundB", "Imprima", sans-serif;
    font-size: 15px;
    /* color: #f2f2f2; */
    /* color: black; */
    /* color: #e6e6e6; */
    color: #333333;

    margin: 0;
    padding-left: 3px;
  }

  .headerButtonDiv {
    width: 24px;
    height: 24px;

    background-color: #595959;
    border-radius: 12px;
  }
}

.body {
  height: 245px;

  .button {
    width: 310px;
    height: 105px;
    /* background-color: white; */
    border-radius: 15px;

    .buttonInner {
      width: 100%;
      height: 100%;

      p {
        font-family: "NanumSquareRoundB", sans-serif;
        font-size: 23px;
        color: #333333;
        /* color: #f2f2f2; */

        margin: 10px;
      }
    }
  }

  #addFileButton {
    background-color: #ffe6cc;
  }

  #drawCroquisButton {
    background-color: #d8f3d8;
  }
}
