@import "../../style/all.css";

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%),
  $hover-thumb,
  $active-thumb
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $hover-thumb;
  }
  &::-webkit-scrollbar-thumb:active {
    background: $active-thumb;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

html,
body {
  // width: 500px;
  // width: 800px;
  // height: 900px;
  margin: 0;
}

header {
  width: 500px;
  height: 40px;
  // height: 55px;
  // margin: auto 12.5px;
  // padding: auto 12.5px;
  -webkit-app-region: drag;
  border-radius: 5px 5px 0 0;

  p {
    font-family: "NanumSquareRoundB", "Imprima", sans-serif;
    font-size: 15px;
    /* color: #f2f2f2; */
    /* color: black; */
    /* color: #e6e6e6; */
    // color: #333333;
    color: #d9d9d9;

    margin: 0;
    padding-left: 12px;
    padding-top: 8px;
  }

  .headerInner {
    width: 98.5%;
    height: 100%;
  }

  .headerButtonDiv {
    width: 28px;
    height: 28px;
    -webkit-app-region: no-drag;
    // margin-bottom: 12px;
    margin-right: 3px;

    // background-color: #595959;
    // background-color: #999999;
    background-color: #737373;
    border-radius: 14px;

    &:hover {
      background-color: #808080;
    }
    &:active {
      background-color: #404040;
    }
  }
}

.main {
  // width: 500px;
  // height: 500px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #666666;
  border-radius: 5px;

  overflow: hidden;

  header {
    width: 100%;
    // height: 40px;
    height: 55px;
    background-color: #666666;
  }

  #infoBar {
    width: 100%;
    height: 35px;
    // background-color: red;
    background-color: #999999;

    font-family: "NanumSquareRoundB", sans-serif;
  }

  #timer {
    width: 100%;
    height: 120px;
    // background-color: #f2f2f2;
    // background-color: #666666;
    // background-color: #999999;
    background-color: #bfbfbf;
    // display: block;

    .timeButtonContainer {
      width: 20%;
      height: 100%;
      margin: 0;
      // background-color: orange;

      .btn {
        width: 55px;
        height: 55px;
        border-radius: 10px;
        // background-color: white;
      }

      #resetButton {
        background-color: #999999;

        &._actable {
          background-color: #f2f2f2;

          &:hover {
            background-color: white;
          }
          &:active {
            background-color: #888888;
          }
        }
      }

      #timerStartPause {
        background-color: white;

        &:hover {
          background-color: #f2f2f2;
        }
        &:active {
          background-color: #888888;
        }
      }
    }

    .time {
      width: 60%;
      height: 100%;
      margin: 0;
      // background-color: #666666;

      .paddingRight {
        padding-right: 40px;
      }

      img {
        margin: 10px;
      }

      span {
        display: inline-block;
        // width: 200px;
        // height: 100%;
        font-family: "PoppinsB", sans-serif;
        font-size: 80px;
        // color: black;
        // color: #f2f2f2;
        // color: #404040;
        color: #262626;
        margin: 0;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  #viewImage {
    width: 100%;
    // height: calc(100% - (40px+40px+100px+130px));
    height: calc(100vh - (55px + 35px + 120px + 135px));
    // background-color: rgb(0, 151, 151);
    // background-color: white;

    #image {
      width: 94%;
      height: 95%;
      // background-color: rgba(255, 255, 255, 0.3);
      // @include scrollbars(5px, #999999, #d9d9d9, #999999, #999999);
      // overflow: scroll;

      img {
        max-width: 100%;
        max-height: 100%;

        // max-width: 1000px;
        // max-height: 800px;
        // image-rendering: pixelated;
      }
    }
  }

  .moverFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #mover {
    width: 100%;
    height: 135px;
    // background-color: green;

    #moverLeft {
      width: 37.5%;
      height: 95%;
      margin-bottom: 10px;
      // background-color: brown;

      .moverButtonContainer {
        width: 100%;
        height: 125px;
        margin: 0;

        #passButton {
          width: 100%;
          height: 45px;
          border-radius: 10px;
          background-color: #f9f9eb;

          .text {
            // width: 40%;
            // margin-right: 1em;
            padding-left: 2em;

            p {
              font-family: "NanumSquareRoundB", sans-serif;
              font-size: 15px;
            }
          }
        }

        #backButton {
          width: 100%;
          height: 65px;
          border-radius: 10px;
          background-color: #f2f2f2;

          .text {
            // width: 60%;
            // margin-right: 1em;
            padding-left: 2em;

            p {
              font-family: "NanumSquareRoundB", sans-serif;
              font-size: 20px;
            }
          }
        }
      }
    }

    #moverRight {
      width: 57.5%;
      height: 95%;
      margin-bottom: 10px;
      // background-color: black;

      #nextButton {
        width: 95%;
        height: 95%;
        background-color: #bac4bf;
        border-radius: 10px;

        .text {
          width: 80%;
          margin-right: 1em;
          padding-left: 3em;

          p {
            font-family: "NanumSquareRoundB", sans-serif;
            font-size: 25px;
          }
        }

        img {
          margin: auto 30px;
        }
      }
    }
  }
}
