.fl-row-st {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fl-row-bet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fl-row-aro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*  */

.fl-cen-cen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*  */

.fl-col-st {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.fl-col-bet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fl-col-aro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*  */

.fl-row-rev-st {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.fl-row-rev-bet {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.fl-row-rev-aro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

/*  */

.fl-col-rev-st {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.fl-col-rev-bet {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.fl-col-rev-aro {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
