@import "../../style/all.css";

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%),
  $hover-thumb,
  $active-thumb
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $hover-thumb;
  }
  &::-webkit-scrollbar-thumb:active {
    background: $active-thumb;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

html,
body {
  margin: 0;
}

p {
  margin: 0;
}

.main {
  display: block;
  // width: 800px;
  // height: 600px;
  // width: 1000px;
  // height: 700px;
  width: 600px;
  height: 500px;

  // border-radius: 10px;
  border-radius: 8px;
  background-color: #595959;
  // background-color: #999999;
}

header {
  width: 100%;
  height: 55px;
  // margin: auto 12.5px;
  // padding: auto 12.5px;
  -webkit-app-region: drag;

  p {
    font-family: "NanumSquareRoundB", "Imprima", sans-serif;
    font-size: 13px;
    /* color: #f2f2f2; */
    /* color: black; */
    /* color: #e6e6e6; */
    // color: #333333;
    color: #d9d9d9;

    margin: 0;
    padding-left: 12px;
    padding-top: 8px;
  }

  .headerInner {
    width: 97%;
    height: 100%;
  }

  .headerButtonDiv {
    width: 28px;
    height: 28px;
    -webkit-app-region: no-drag;
    // margin-bottom: 12px;
    margin-right: 3px;

    // background-color: #595959;
    // background-color: #999999;
    background-color: #737373;
    border-radius: 14px;

    &:hover {
      background-color: #808080;
    }
    &:active {
      background-color: #404040;
    }
  }
}

.body {
  width: 100%;
  // height: 645px;
  height: calc(100% - 55px);
  border-radius: 0 0 8px 8px;

  .bodyInner {
    // width: 97%;
    width: calc(100% - 30px);
    // height: 625px;
    height: calc(100% - 15px);
    // background-color: gray;
    border-radius: 5px;

    .buttonItemLayout {
      width: 100%;
      height: 9%;

      .item {
        width: 100%;
        height: 100%;
      }
    }

    .itemLayout {
      width: 100%;
      height: 35px;
      // background-color: green;

      .item {
        width: 100%;
        height: 100%;
        // background-color: rgb(0, 151, 151);

        // img {
        //   margin-left: 10px;
        // }

        // p {
        //   margin-left: 10px;
        // }
      }
    }

    #bodyLeft {
      width: calc(53% - 15px);
      // width: 60%;
      height: 100%;
      // padding-left: 1%;
      margin-right: 15px;
      // background-color: red;

      #showFolder {
        // background-color: #808080;
        background-color: #a6a6a6;

        div {
          img {
            margin-left: 10px;
          }

          p {
            margin-left: 10px;
            font-family: "NanumSquareB", sans-serif;
            font-size: 15px;
          }
        }

        button {
          // width: 100px;
          width: 90px;
          height: 30px;
          margin: auto 10px;
          background-color: white;
          border: none;
          border-radius: 3px;
          font-size: 12.5px;
          font-family: "NanumSquareB", sans-serif;
        }
      }

      #imgList {
        // width: 97%;
        width: 100%;
        // height: 79%;
        height: 75%;
        background-color: white;
        margin-bottom: 5px;

        // overflow: auto;
        // visibility: hidden;

        .item {
          width: 100%;
          height: 6.5%;
          // background-color: red;
          // background-color: #a6a6a6;
          background-color: #81b3fd;

          p {
            margin-left: 0.8em;
            font-family: "NanumSquareRoundB", sans-serif;
            font-size: 10px;
            color: #1a1a1a;
            // color: #3685fc;
          }
        }

        // &:hover {
        //   visibility: visible;
        // }
        // &:focus {
        //   visibility: visible;
        // }

        #imgListBody {
          width: calc(100% - 2px);
          height: 93.5%;
          // background-color: rgb(71, 71, 107);
          // background-color: #f2f2f2;
          background-color: #d6d6d6;
          padding-top: 1px;
          padding-left: 2px;

          @include scrollbars(10px, #4d4d4d, #d9d9d9, #737373, #333333);
          // overflow-y: scroll;
          overflow: auto;

          // visibility: visible;
          .imgItem {
            // width: 179px;
            width: 33.333%;
            height: 48%;
            // background-color: white;
            // border: 1px solid black;

            &._selected {
              .cont {
                background-color: #3685fc;
                .tags {
                  background-color: #81b3fd;
                }
              }
            }

            .cont {
              width: 98%;
              height: 98%;
              border-radius: 3px;
              // background-color: #bfbfbf;
              // background-color: #8c8c8c;
              background-color: #a6a6a6;

              .checkbox {
                width: 100%;
                height: 12.5%;
                // background-color: red;

                input {
                  margin-left: 3%;
                }
              }

              .image {
                width: 100%;
                height: 65%;
                // background-color: green;
              }

              .tags {
                width: calc(100% - 8px);
                height: calc(22.5% - 8px);
                // background-color: aqua;
                margin: 4px;
                border-radius: 3px;
                // background-color: #d9d9d9;
                // background-color: #d6d6d6;
                background-color: #bfbfbf;
              }
            }
          }
        }
      }

      .button {
        width: 100%;
        height: 80%;
        border-radius: 5px;
        background-color: #999999;

        p {
          font-family: "NanumSquareRoundB", sans-serif;
          font-size: 11px;
          color: black;
        }
      }
    }

    #bodyRight {
      width: 47%;
      // width: 40%;
      height: 100%;
      // background-color: rgb(71, 71, 107);
      // max-width: 384px;

      #tagBoard {
        width: 100%;
        // height: 42%;
        // height: 46%;
        height: 35%;
        // background-color: #d9d9d9;
        background-color: #f2f2f2;
        border-radius: 5px 5px 0 0;

        #tagTitle {
          width: 100%;
          height: 35px;
          background-color: #a6a6a6;
          // border-radius: 5px 5px 0 0;

          img {
            margin-left: 9px;
          }

          p {
            margin-left: 5px;
            font-family: "NanumSquareRoundB", sans-serif;
            font-size: 12px;
          }
        }

        #tagBoardCont {
          height: calc(100% - 35px - 5px);
          // height: auto;
          padding-top: 5px;

          overflow-y: scroll;
          @include scrollbars(8px, #999999, #d9d9d9, #999999, #999999);

          #mustBoard {
            width: 100%;
            // height: 50%;
          }

          #atleastBoard {
            width: 100%;
            // height: 50%;

            .title {
              img {
                margin-right: 1px;
              }
            }
          }
        }

        .title {
          width: 100%;
          min-height: 30px;
          // background-color: orange;

          img {
            margin-left: 10px;
          }

          p {
            margin-left: 7px;
            font-family: "NanumSquareRoundB", sans-serif;
            font-size: 12px;
          }
        }

        .body {
          // @include scrollbars(10px, black, white);
          width: 100%;
          height: 60%;
          // overflow-x: scroll;
          // overflow-x: scroll;
        }
        // overflow-y: auto;

        .tagItem {
          // width: 100px;
          // display: inline-block;
          width: max-content;
          height: 40px;
          border-radius: 5px;
          background-color: fuchsia;
          margin: auto 5px;

          p {
            font-size: 13px;
            margin: auto 8px;
          }

          .xButton {
            width: 20px;
            height: 20px;
            font-size: 15px;
            background-color: white;
          }
        }
      }

      #tagSearch {
        width: 100%;
        // height: 48%;
        // height: 44%;
        height: calc(55% - 20px);
        margin-top: 10px;
        margin-bottom: 10px;
        // background-color: rgb(20, 28, 52);

        #searchLayout {
          // width: 66%;
          width: 80%;
          height: 100%;
          // margin: auto 2%;
          background-color: white;

          #searchContent {
            height: 88%;
            // background-color: aqua;
            // overflow-y: auto;
            overflow-y: scroll;
            @include scrollbars(5px, #666666, #d9d9d9, #666666, #666666);

            .tagItem {
              width: 100%;
              height: 12.5%;
              background-color: #d9d9d9;
              // border-bottom: 1px solid black;
              font-size: 12px;
            }

            .groupItem {
              width: calc(100% - 2px);
              // height: calc(15% - 2px);
              // height: 50px;
              // min-height: calc(15% - 2px);
              height: auto;
              // margin-bottom: 1px;
              margin: 1px;

              summary {
                width: 100%;
                height: 35px;
                // height: 100%;
                // height: 30px;
                // min-height: 100%;

                // background-color: #808080;
                background-color: #999999;
                border-radius: 3px;
                outline: none;
                &::-webkit-details-marker {
                  display: none;
                }
              }

              img {
                margin: auto 8px;
              }

              .name {
                // width: 80%;
                width: calc(100% - 58px);
                height: 80%;

                p {
                  // margin-left: 5px;
                  font-size: 13px;
                  font-family: "NanumSquareRoundB", sans-serif;
                }
              }

              .tagItem {
                width: 98%;
                height: 33px;
                margin: 3px auto;
                // background-color: rebeccapurple;
                background-color: #d9d9d9;

                input {
                  margin-left: 10px;
                }

                .tagName {
                  margin-left: 6px;
                  font-family: "NanumSquareRoundB", sans-serif;
                  font-size: 12px;

                  .itemCount {
                    font-size: 11px;
                  }
                }
              }
            }
          }

          #inputDiv {
            width: 100%;
            height: 12%;
            border-top: 1px solid black;
            // background-color: #999999;

            input {
              width: 90%;
              height: 90%;
              padding: 0;
              border: 0;
              outline: none;
              // background-color: beige;
            }
          }
        }

        #buttonLayout {
          // width: 28%;
          width: calc(20% - 5px);
          height: 100%;
          margin-left: 5px;
          // background-color: yellow;

          .addTagItem {
            width: 100%;
            height: 48%;
            // background-color: #f2f2f2;
            background-color: #cccccc;
            border-radius: 5px;
          }

          #haveButton {
            background-color: #2d8659;

            &:hover {
              background-color: #339966;
            }
            &:active {
              background-color: #26734d;
            }
          }

          #notHaveButton {
            background-color: #ff4d4d;

            &:hover {
              background-color: #ff6666;
            }
            &:active {
              // background-color: #ff3333;
              // background-color: #ff0000;
              background-color: #cc0000;
            }
          }
        }
      }

      #downBar {
        width: 100%;
        height: 10%;

        .infoText {
          margin: auto 1.5em;
          font-family: "NanumGothicR", sans-serif;
          font-size: 11px;
          color: #d9d9d9;
        }
      }

      #okButton {
        width: 40%;
        height: 100%;
        // background-color: orange;
        // background-color: #328175;
        background-color: #40a596;
        border-radius: 5px;

        &:hover {
          background-color: #399385;
        }
        &:active {
          background-color: #2b6e64;
        }

        p {
          font-family: "NanumSquareRoundB", sans-serif;
          font-size: 13px;
          // color: #d9d9d9;
          color: #163732;
          // color: #333333;
        }
      }
    }
  }
}

._invisible {
  visibility: hidden;
  display: none;
  // transition: visibility 0.5s;
}

// ._visible {
//   visibility: visible;
// }
