@import "../../style/all.css";

html,
body {
  margin: 0;
}

p {
  margin: 0;
}

.main {
  display: block;
  // width: 800px;
  // height: 600px;
  width: 1000px;
  height: 700px;

  // border-radius: 10px;
  border-radius: 8px;
  background-color: #595959;
  // background-color: #999999;
}

header {
  width: 100%;
  height: 55px;
  // margin: auto 12.5px;
  // padding: auto 12.5px;
  -webkit-app-region: drag;

  p {
    font-family: "NanumSquareRoundB", "Imprima", sans-serif;
    font-size: 15px;
    /* color: #f2f2f2; */
    /* color: black; */
    /* color: #e6e6e6; */
    // color: #333333;
    color: #d9d9d9;

    margin: 0;
    padding-left: 12px;
    padding-top: 8px;
  }

  .headerInner {
    width: 97%;
    height: 100%;
  }

  .headerButtonDiv {
    width: 28px;
    height: 28px;
    -webkit-app-region: no-drag;
    // margin-bottom: 12px;
    margin-right: 3px;

    // background-color: #595959;
    // background-color: #999999;
    background-color: #737373;
    border-radius: 14px;

    &:hover {
      background-color: #808080;
    }
    &:active {
      background-color: #404040;
    }
  }
}

.body {
  width: 100%;
  height: 645px;
  border-radius: 0 0 8px 8px;

  .bodyInner {
    width: 97%;
    height: 625px;
    // background-color: gray;
    border-radius: 5px;

    .buttonItemLayout {
      width: 100%;
      height: 9%;

      .item {
        width: 100%;
        height: 100%;
      }
    }

    .itemLayout {
      width: 97%;
      height: 7%;
      // background-color: green;

      .item {
        width: 100%;
        height: 100%;
        // background-color: rgb(0, 151, 151);
      }
    }

    #bodyLeft {
      width: 54%;
      // width: 60%;
      height: 100%;
      padding-left: 1%;
      // background-color: red;

      #showFolder {
        background-color: #808080;

        div {
          img {
            margin-left: 10px;
          }

          p {
            margin-left: 10px;
            font-family: "NanumSquareB", sans-serif;
          }
        }

        button {
          // width: 100px;
          width: 90px;
          height: 30px;
          margin: auto 10px;
          background-color: white;
          border: none;
          border-radius: 3px;
          font-size: 12.5px;
          font-family: "NanumSquareB", sans-serif;
        }
      }

      #imgList {
        width: 97%;
        // height: 79%;
        height: 75%;
        background-color: white;
        margin-bottom: 5px;

        // overflow: auto;
        // visibility: hidden;

        .item {
          width: 100%;
          height: 6.5%;
          // background-color: red;
          background-color: #a6a6a6;

          p {
            margin-left: 0.8em;
            font-family: "NanumSquareRoundB", sans-serif;
            font-size: 13.5px;
            color: #1a1a1a;
          }
        }

        // &:hover {
        //   visibility: visible;
        // }
        // &:focus {
        //   visibility: visible;
        // }

        #imgListBody {
          width: 100%;
          height: 93.5%;
          // background-color: rgb(71, 71, 107);
          background-color: #f2f2f2;

          overflow-y: scroll;
          // visibility: visible;

          .imgItem {
            width: 179px;
            height: 48%;
            background-color: white;
            border: 1px solid black;

            .checkbox {
              width: 100%;
              height: 12.5%;
              background-color: red;
            }

            .image {
              width: 100%;
              height: 65%;
              background-color: green;
            }

            .tags {
              width: 100%;
              height: 22.5%;
              background-color: aqua;
            }
          }
        }
      }

      .button {
        width: 97%;
        height: 80%;
        border-radius: 5px;
        background-color: #999999;

        p {
          font-family: "NanumSquareRoundB", sans-serif;
          color: black;
        }
      }
    }

    #bodyRight {
      width: 45%;
      // width: 40%;
      height: 100%;
      // background-color: rgb(71, 71, 107);
      max-width: 384px;

      #tagBoard {
        width: 100%;
        height: 35%;

        #mustBoard {
          width: 100%;
          height: 50%;
        }

        #atleastBoard {
          width: 100%;
          height: 50%;
        }

        .title {
          width: 100%;
          height: 40%;
          // background-color: orange;
        }

        .body {
          width: 100%;
          height: 60%;
          // overflow-x: scroll;
          overflow-x: scroll;
        }
        // overflow-y: auto;

        .tagItem {
          // width: 100px;
          // display: inline-block;
          width: max-content;
          height: 40px;
          border-radius: 5px;
          background-color: fuchsia;
          margin: auto 5px;

          p {
            font-size: 13px;
            margin: auto 8px;
          }

          .xButton {
            width: 20px;
            height: 20px;
            font-size: 15px;
            background-color: white;
          }
        }
      }

      #tagSearch {
        width: 100%;
        height: 48%;
        background-color: rgb(20, 28, 52);

        #searchLayout {
          width: 66%;
          height: 85%;
          margin: auto 2%;
          background-color: white;

          #searchContent {
            height: 85%;
            // background-color: aqua;
            overflow-y: auto;

            .tagItem {
              width: 100%;
              height: 12.5%;
              background-color: #d9d9d9;
              border-bottom: 1px solid black;
              font-size: 12px;
            }
          }

          #inputDiv {
            width: 100%;
            height: 15%;
            border-top: 1px solid black;
            // background-color: #999999;

            input {
              width: 90%;
              height: 90%;
              padding: 0;
              border: 0;
              outline: none;
              // background-color: beige;
            }
          }
        }

        #buttonLayout {
          width: 28%;
          height: 85%;
          margin-right: 2%;
          // background-color: yellow;

          .addTagItem {
            width: 100%;
            height: 48%;
            background-color: #f2f2f2;
            border-radius: 5px;
          }

          #mustAddButton {
          }
          #atleastAddButton {
          }
        }
      }

      #downBar {
        width: 100%;
        height: 10%;

        .infoText {
          margin: auto 1.5em;
          font-family: "NanumGothicR", sans-serif;
          font-size: 16px;
          color: #d9d9d9;
        }
      }

      #okButton {
        width: 40%;
        height: 100%;
        // background-color: orange;
        background-color: #328175;
        border-radius: 5px;

        &:hover {
          background-color: #399385;
        }
        &:active {
          background-color: #2b6e64;
        }

        p {
          font-family: "NanumSquareRoundB", sans-serif;
          font-size: 18px;
          // color: #d9d9d9;
          color: #163732;
          // color: #333333;
        }
      }
    }
  }
}

._invisible {
  visibility: hidden;
  display: none;
  // transition: visibility 0.5s;
}

// ._visible {
//   visibility: visible;
// }
