@import "../../style/all.css";

html,
body {
  display: block;
  /* margin: 10px; */
  /* width: 350px;
  height: 500px; */
}

.main {
  display: block;
  position: relative;
  width: 380px;
  height: 550px;
  border-radius: 10px;
  background-color: #999999;
}

// .body {
// }
/* margin-top: 10px; */

hr {
  background-color: #666666;
  height: 1px;
  border: 0;
}

header {
  height: 40px;

  p {
    font-family: "NanumSquareRoundEB", "Imprima", sans-serif;
    font-size: 15px;
    color: #f2f2f2;

    margin: 0;
    padding-left: 3px;
  }
}

.article {
  /* width: 90%; */
  width: 335px;
}

#startButton {
  width: 340px;
  height: 100px;
  background-color: #2d8659;
  border-radius: 15px;

  &:hover {
    background-color: rgba(45, 134, 89, 0.8);
  }
  &:active {
    background-color: #206040;
  }

  p {
    font-family: "NanumSquareRoundB", sans-serif;
    font-size: 27px;
    color: #f2f2f2;
  }
}

.name {
  width: 40%;
  margin-left: 3px;

  svg {
    fill: black;
  }

  p {
    /* padding-left: 5px; */
    color: black;
    font-family: "NanumSquareRoundR", sans-serif;
    font-size: 17px;
  }
}

#openFileSelect {
  width: 25%;
  /* height: 100%; */
  height: 35px;
  margin: 0;
  background-color: #666666;
  border-radius: 4px;
  font-size: 13px;
  /* font-size: 13px; */
  /* f */
}

.articleBar p {
  margin: 0;
}
