@import "../../style/all.css";

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%),
  $hover-thumb,
  $active-thumb
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $hover-thumb;
  }
  &::-webkit-scrollbar-thumb:active {
    background: $active-thumb;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

html,
body {
  margin: 0;
}

p {
  margin: 0;
}

._visible {
  visibility: visible;
  // display: block;
}
._invisible {
  visibility: hidden;
  display: none;
}

.main {
  // display: block;
  // width: 550px;
  // height: 850px;
  width: 410px;
  height: 600px;
  // width: 600px;
  // height: 300px;
  // height: 800px;
  // border-radius: 10px;
  border-radius: 8px;
  background-color: #595959;
  // background-color: #999999;
}

header {
  // width: 550px;
  width: 100%;
  height: 50px;
  // margin: auto 12.5px;
  // padding: auto 12.5px;
  -webkit-app-region: drag;

  p {
    font-family: "NanumSquareRoundB", "Imprima", sans-serif;
    font-size: 13px;
    /* color: #f2f2f2; */
    /* color: black; */
    /* color: #e6e6e6; */
    // color: #333333;
    color: #d9d9d9;

    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
  }

  .headerInner {
    width: 97%;
    height: 100%;
  }

  .headerButtonDiv {
    width: 26px;
    height: 26px;
    -webkit-app-region: no-drag;
    // margin-bottom: 12px;
    margin-right: 5px;

    // background-color: #595959;
    // background-color: #999999;
    background-color: #737373;
    border-radius: 14px;

    &:hover {
      background-color: #808080;
    }
    &:active {
      background-color: #404040;
    }
  }
}

footer {
  // width: 95%;
  width: calc(100% - 35px);
  height: 40px;
  margin-top: 11px;

  #submitButton {
    height: 100%;
    width: 120px;
    background-color: #999999;
    border-radius: 8px;

    font-family: "NanumSquareRoundB", sans-serif;
    font-size: 15px;
  }
}

.body {
  // width: 95%;
  width: calc(100% - 35px);
  // height: 775px;
  height: calc(100% - 50px - 50px - 17px);
  // background-color: red;

  border-radius: 0 0 8px 8px;

  .tabBar {
    width: 100%;
    height: 45px;
    // background-color: aqua;
    margin-bottom: 10px;
    background-color: #d9d9d9;

    .tab {
      width: 20%;
      height: 100%;
      background-color: #d9d9d9;

      .txtCont {
        width: 100%;
        height: calc(100% - 6px);

        img {
          margin: 5px;
        }

        p {
          font-family: "NanumSquareRoundB", sans-serif;
          font-size: 16px;
          margin-top: 5px;
        }
      }

      hr {
        border: 0;
        margin: 0;
        background-color: green;
        height: 6px;
      }
    }

    #modeEndContainer {
      width: 60%;
      height: 100%;

      #modeQuitButton {
        // height: calc(100% - 7px);
        // width: 38px;
        width: 35px;
        height: 35px;
        background-color: #ff6666;
        border-radius: 6px;
      }

      #modeEndButton {
        min-width: max-content;
        height: calc(100% - 7px);
        background-color: #009999;
        border-radius: 5px;
        margin: 3.5px;
        display: flex;

        p {
          margin: auto 15px;
          font-family: "NanumSquareRoundB", sans-serif;
          font-size: 13px;
        }
      }
    }
  }

  .content {
    // width: 100%;
    // height: 100%;
    border-radius: 0 0 8px 8px;
    height: calc(100% - 45px - 12.5px);

    // .contentInner {
    //   width: 100%;
    //   height: 100%;
    //   border-radius: 0 0 8px 8px;
    // }

    .fileContent {
      #fileContentMain {
        // background-color: black;

        .list {
          width: 100%;
          height: 80%;
          background-color: aqua;

          .li {
            width: 100%;
            height: 40px;
            background-color: #8c8c8c;

            .left {
              width: 80%;
              height: 100%;
              // background-color: red;

              img {
                margin: 0 7.5px;
              }

              p {
                font-family: "NanumSquareRoundB", sans-serif;
                font-size: 13px;
              }
            }

            .right {
              width: 20%;
              height: 100%;
              // background-color: black;

              #openExplorer {
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                background-color: #d9d9d9;
                border-radius: 3px;

                p {
                  margin: 0;
                  font-family: "NanumSquareRoundB", sans-serif;
                  font-size: 13px;
                }
              }
            }
          }

          .content {
            width: 100%;
            height: calc(100% - 40px);

            .container {
              padding: 2px;
              width: calc(100% - 4px);
              height: calc(100% - 2px);
            }
          }

          #fileList {
            background-color: #f2f2f2;
            overflow-y: scroll;
            @include scrollbars(8px, #333333, #d9d9d9, #333333, #333333);

            .item {
              width: calc(33.3333% - 2px);
              height: 45%;
              margin: 1px;
              background-color: #a6a6a6;
              border-radius: 2px;

              .inner {
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                // background-color: red;

                .img {
                  width: 100%;
                  height: 70%;
                  // background-color: white;

                  img {
                    max-width: 80%;
                    max-height: 80%;
                  }
                }

                .tag {
                  width: 100%;
                  height: 30%;
                  background-color: #d9d9d9;
                  // background-color: #bfbfbf;
                  border-radius: 3px;

                  .inner {
                    width: calc(100% - 7.5px);
                    height: calc(100% - 5px);
                    // background-color: red;
                  }
                }
              }
            }
          }
        }

        .board {
          width: 100%;
          height: calc(20% - 13px);
          margin-top: 13px;

          .modeButton {
            // width: calc(49.5% - 6px);
            width: 49%;
            height: 100%;
            // background-color: #009999;
            background-color: #b3b3b3;
            border-radius: 5px;
            // margin: 0 3px;

            img {
              margin: 0 6px;
            }

            p {
              font-family: "NanumSquareRoundB", sans-serif;
              font-size: 14px;
            }

            .inner {
              // width: calc(100% - 15px);
              // height: calc(100% - 15px);
              // background-color: red;

              .up {
                min-width: max-content;
                min-height: max-content;

                margin: 0 0 5px;

                p {
                  font-size: 12px;
                }
              }

              .down {
                min-width: max-content;
                min-height: max-content;

                margin: 5px 0;

                p {
                  font-size: 15.5px;
                }
              }
            }
          }
        }
      }

      #newFileTagMode {
        .list {
          width: 100%;
          height: 64%;

          .side {
            width: 15%;
            height: 100%;
            background-color: #666666;
            margin: 0;

            &._unselectable {
              background-color: #a6a6a6;
            }
          }

          .center {
            width: 70%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            margin: 0;

            .imgCont {
              width: 100%;
              height: 70%;

              img {
                max-width: 90%;
                max-height: 90%;
                background-color: #737373;
              }
            }

            .tagCont {
              width: 100%;
              height: 30%;
              background-color: #d9d9d9;

              #tagBoard {
                width: 95%;
                height: 86%;

                overflow-y: scroll;
                @include scrollbars(3px, #666666, #bfbfbf, #666666, #666666);

                .item {
                  min-width: max-content;
                  height: 25px;
                  border-radius: 3px;
                  background-color: #999999;
                  margin: 4px;

                  span {
                    font-size: 11px;
                    font-family: "NanumGothicR", sans-serif;
                    margin-left: 9px;
                  }

                  img {
                    margin: 0 7px;
                  }
                }
              }
            }
          }
        }

        .board {
          width: 100%;
          height: calc(36% - 12.5px);
          margin-top: 12.5px;

          .left {
            width: 72%;
            height: 100%;
            margin-left: 2%;

            #tagList {
              width: calc(100% - 6px);
              height: calc(75% - 3px);
              // background-color: #737373;
              background-color: #d9d9d9;
              padding: 3px 3px 0;
              overflow-y: scroll;
              @include scrollbars(8px, #333333, #d9d9d9, #333333, #333333);

              .item {
                width: 100%;
                height: 25px;
                border-radius: 3px;
                background-color: #a6a6a6;
                margin-bottom: 3px;

                input {
                  margin: auto 5px;
                }

                span {
                  font-size: 11px;
                  font-family: "NanumSquareRoundB", sans-serif;
                  margin-left: 3px;
                }
              }
            }

            #tagInput {
              width: 100%;
              height: 25%;
              background-color: white;

              input {
                width: 90%;
                height: 100%;
                border: none;
                outline: none;
                padding: 0;
                margin: 0;
                font-size: 11px;
              }
            }
          }

          .right {
            width: 24%;
            height: 100%;

            #tagAddButton {
              background-color: #008000;
              border-radius: 3px;
            }
          }
        }
      }
    }

    .tagContent {
    }
  }
}
