@import "../../style/all.css";

html,
body {
  margin: 0;
}

p {
  margin: 0;
}

._visible {
  visibility: visible;
  display: block;
}
._invisible {
  visibility: hidden;
  display: none;
}

.main {
  // display: block;
  width: 550px;
  // width: 600px;
  // height: 300px;
  // height: 800px;
  height: 850px;
  // border-radius: 10px;
  border-radius: 8px;
  background-color: #595959;
  // background-color: #999999;
}

header {
  width: 550px;
  height: 55px;
  // margin: auto 12.5px;
  // padding: auto 12.5px;
  -webkit-app-region: drag;

  p {
    font-family: "NanumSquareRoundB", "Imprima", sans-serif;
    font-size: 15px;
    /* color: #f2f2f2; */
    /* color: black; */
    /* color: #e6e6e6; */
    // color: #333333;
    color: #d9d9d9;

    margin: 0;
    padding-left: 12px;
    padding-top: 8px;
  }

  .headerInner {
    width: 97%;
    height: 100%;
  }

  .headerButtonDiv {
    width: 28px;
    height: 28px;
    -webkit-app-region: no-drag;
    // margin-bottom: 12px;
    margin-right: 3px;

    // background-color: #595959;
    // background-color: #999999;
    background-color: #737373;
    border-radius: 14px;

    &:hover {
      background-color: #808080;
    }
    &:active {
      background-color: #404040;
    }
  }
}

.body {
  width: 95%;
  height: 775px;
  background-color: red;

  border-radius: 0 0 8px 8px;

  .tabBar {
    width: 100%;
    height: 55px;
    background-color: aqua;
  }

  .content {
    width: 100%;
    height: 720px;
    background-color: orange;
    border-radius: 0 0 8px 8px;

    .contentInner {
      width: 100%;
      height: 720px;
      border-radius: 0 0 8px 8px;

      .item {
        width: 100%;
        height: 8%;
        background-color: white;
      }
    }

    #fileContent {
      #fileContentMain {
        width: 100%;
        height: 100%;
        background-color: black;

        #fileList {
          width: 100%;
          height: 62%;
          background-color: brown;
        }
        #selectMode {
          width: 100%;
          height: 22%;
          background-color: blueviolet;

          .modeItem {
            width: 100%;
            height: 55px;
            background-color: #808080;
            margin: 15px auto 0;
            // border-radius: 5px;
          }
        }

        #undoButton {
          height: 100%;
          width: 120px;
          background-color: black;
          border-radius: 8px;
        }
        #submitButton {
          height: 100%;
          width: 120px;
          background-color: black;
          border-radius: 8px;
        }
      }
    }
  }
}
