@import "../../style/all.css";

@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%),
  $hover-thumb,
  $active-thumb
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $hover-thumb;
  }
  &::-webkit-scrollbar-thumb:active {
    background: $active-thumb;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

html,
body {
  margin: 0;
}

p {
  margin: 0;
}

._visible {
  visibility: visible;
  display: block;
}
._invisible {
  visibility: hidden;
  display: none;
}

.main {
  // display: block;
  width: 550px;
  // width: 600px;
  // height: 300px;
  // height: 800px;
  height: 850px;
  // border-radius: 10px;
  border-radius: 8px;
  background-color: #595959;
  // background-color: #999999;
}

header {
  width: 550px;
  height: 55px;
  // margin: auto 12.5px;
  // padding: auto 12.5px;
  -webkit-app-region: drag;

  p {
    font-family: "NanumSquareRoundB", "Imprima", sans-serif;
    font-size: 15px;
    /* color: #f2f2f2; */
    /* color: black; */
    /* color: #e6e6e6; */
    // color: #333333;
    color: #d9d9d9;

    margin: 0;
    padding-left: 12px;
    padding-top: 8px;
  }

  .headerInner {
    width: 97%;
    height: 100%;
  }

  .headerButtonDiv {
    width: 28px;
    height: 28px;
    -webkit-app-region: no-drag;
    // margin-bottom: 12px;
    margin-right: 3px;

    // background-color: #595959;
    // background-color: #999999;
    background-color: #737373;
    border-radius: 14px;

    &:hover {
      background-color: #808080;
    }
    &:active {
      background-color: #404040;
    }
  }
}

.body {
  width: 95%;
  height: 775px;
  // background-color: red;

  border-radius: 0 0 8px 8px;

  .tabBar {
    width: 100%;
    height: 45px;
    // background-color: aqua;
    margin-bottom: 10px;
    background-color: #d9d9d9;

    .tab {
      width: 20%;
      height: 100%;
      background-color: #d9d9d9;

      .txtCont {
        width: 100%;
        height: calc(100% - 6px);

        img {
          margin: 5px;
        }

        p {
          font-family: "NanumSquareRoundB", sans-serif;
          font-size: 16px;
          margin-top: 5px;
        }
      }

      hr {
        margin: 0;
        border: 3px solid green;
      }
    }

    #modeEndContainer {
      width: 60%;
      height: 100%;

      #modeEndButton {
        min-width: max-content;
        height: 85%;
        background-color: #009999;
        border-radius: 5px;
        margin: auto 5px;
        display: flex;

        p {
          margin: auto 15px;
          font-family: "NanumSquareRoundB", sans-serif;
          font-size: 15px;
        }
      }
    }
  }

  .content {
    width: 100%;
    height: 720px;
    // background-color: orange;
    border-radius: 0 0 8px 8px;

    .contentInner {
      width: 100%;
      height: 720px;
      border-radius: 0 0 8px 8px;

      .item {
        width: 100%;
        height: 9%;
        // background-color: white;
      }
    }

    #fileContent {
      .submitButton {
        height: 85%;
        width: 150px;
        background-color: #999999;
        border-radius: 8px;

        font-family: "NanumSquareRoundB", sans-serif;
        font-size: 17px;
      }

      #fileContentMain {
        width: 100%;
        height: 100%;
        background-color: black;

        #fileList {
          width: 100%;
          height: 62%;
          background-color: brown;
        }
        #selectMode {
          width: 100%;
          height: 22%;
          background-color: blueviolet;

          .modeItem {
            width: 100%;
            height: 55px;
            background-color: #808080;
            margin: 15px auto 0;
            // border-radius: 5px;
          }
        }

        #undoButton {
          height: 100%;
          width: 120px;
          background-color: black;
          border-radius: 8px;
        }
      }

      #newFileTagMode {
        width: 100%;
        height: 100%;
        // background-color: green;

        #newFileView {
          width: 100%;
          height: 65%;
          // background-color: rgb(71, 71, 107);

          .side {
            width: 15%;
            height: 100%;
            // background-color: black;
            // background-color: #d9d9d9;
            // background-color: white;
            background-color: #666666;
            margin: 0;
          }

          #currImgView {
            width: 70%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            margin: 0;

            .imgCont {
              width: 100%;
              height: 70%;

              img {
                max-width: 90%;
                max-height: 90%;
                background-color: #737373;
              }
            }

            .tagCont {
              width: 100%;
              height: 30%;
              background-color: #d9d9d9;

              .tagBoard {
                width: 95%;
                height: 86%;
                // background-color: red;

                overflow-y: scroll;
                @include scrollbars(3px, #666666, #bfbfbf, #666666, #666666);
                // background-color: #404040;
                // border-radius: 8px;
              }
            }
          }
        }

        #tagListView {
          width: 100%;
          height: 27%;
          // background-color: #737373;

          .board {
            width: 100%;
            height: 45%;
            // height: 100%;
            background-color: red;

            .tagBoard {
              width: 50%;
              height: 100%;

              .mustleast {
                width: 100%;
                height: 25%;
                background-color: lightgreen;
              }
            }

            // #mustBoard {
            //   border-right: 1px solid black;
            // }
          }

          .tagSearchList {
            width: 100%;
            // height: 55%;
            height: 100%;
            // background-color: white;

            .tagSearchView {
              width: 75%;
              height: 100%;

              .inner {
                // width: 100%;
                width: 98%;
                height: 90%;
                // margin-top: 10%;

                #tagList {
                  width: 100%;
                  height: 80%;
                  // background-color: #737373;
                  background-color: #d9d9d9;
                }

                #tagInput {
                  width: 100%;
                  height: 20%;
                  background-color: white;

                  input {
                    width: 90%;
                    height: 100%;
                    border: none;
                    outline: none;
                    padding: 0;
                    margin: 0;
                  }
                }
              }
            }

            .buttons {
              width: 25%;
              height: 100%;
              // background-color: white;

              .buttonInner {
                width: 95%;
                height: 90%;

                .tagAddButton {
                  width: 100%;
                  height: 48%;
                  background-color: gray;
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}
